---
import '@styles/base.css'

import TheFooter from '@components/TheFooter.astro'
import TheHeader from '@components/TheHeader.astro'
import BaseButton from '@components/BaseButton.astro'
import Image from '@components/Image.astro'

type Props = {
  title: string
  description: string
  image: string
  url: URL
  schema?: Record<string, unknown>
  links?: Record<string, unknown>[]
}
const { isDev, PUBLIC_GOOGLE_ANALYTICS_ID: googleAnalyticsId } = import.meta.env
const { title, description, schema, links, url } = Astro.props
const domain = url.hostname
const image =
  Astro.props.image.includes(url.toString()) ||
  Astro.props.image.startsWith('/')
    ? new URL(Astro.props.image, Astro.site ?? url).toString()
    : Astro.props.image

const gtagConfig = isDev ? `{ debug_mode: true }` : ''
---

<html class='h-full scroll-p-[5.125rem] scroll-smooth' lang='pt-br'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <title>{title}</title>
    <link rel='canonical' href={url} />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta name='description' content={description} />
    <meta property='og:url' content={url} />
    <meta property='og:type' content='website' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta property='twitter:domain' content={domain} />
    <meta property='twitter:url' content={url} />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={image} />
    <meta name='twitter:card' content='summary_large_image' />
    {links?.map((link) => <link {...link} />)}
    <link
      href='/css/fonts.css'
      rel='preload'
      as='style'
      onload=`this.rel="stylesheet"`
    />
    {
      googleAnalyticsId && (
        <>
          <link
            href={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`}
            rel='preload'
            as='script'
          />
          <script
            is:inline
            set:html={`
              window.dataLayer = window.dataLayer || [];
              window.gtag = function () {
                dataLayer.push(arguments);
              };
              window.gtag('js', new Date());
              window.gtag('config', '${googleAnalyticsId}', ${gtagConfig});`}
          />
        </>
      )
    }
  </head>
  <body class='h-full'>
    <TheHeader>
      <slot name='header' />
    </TheHeader>
    <slot />
    <TheFooter>
      <div class='container'>
        <div
          class='flex flex-col gap-6 rounded-lg bg-gray-900 p-4 sm:p-6 lg:flex-row'
        >
          <div class='lg:order-2 lg:flex-1'>
            <Image
              src='images/footer.png'
              sizes='311px sm:448px lg:362px xl:469px'
              alt='Pedro Henrique sorrindo com as mãos cruzadas a frente e vestido socialmente.'
              loading='lazy'
              decoding='async'
              class='aspect-square h-auto w-full rounded-lg'
            />
          </div>
          <div
            class='flex flex-col items-center gap-y-4 text-center lg:order-1 lg:flex-1 lg:items-start lg:justify-center lg:text-left'
          >
            <h2
              class='max-w-[38ch] text-[2rem] font-bold leading-[2.25rem] tracking-[-0.1rem] text-gray-50 lg:text-[3rem] lg:leading-[3.375rem] lg:tracking-[-0.15rem]'
            >
              Quer desenvolver o seu projeto comigo?
            </h2>
            <p class='max-w-[38ch] text-xl text-gray-50 lg:text-2xl'>
              Dê o primeiro passo agora.
            </p>
            <BaseButton
              href='https://wa.me/5511965712919'
              variant='secondary'
              className='mt-2'>Solicite uma proposta</BaseButton
            >
          </div>
        </div>
      </div>
    </TheFooter>
    {
      schema && (
        <script
          type='application/ld+json'
          is:inline
          set:html={JSON.stringify(schema)}
        />
      )
    }
    {
      googleAnalyticsId && (
        <script
          async
          src={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`}
          type='text/partytown'
          is:inline
        />
      )
    }
  </body>
</html>
